@font-face {
    font-family: karla;
    src: url("../font/Karla-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $lite;
    font-family: karla;
}

a {
    text-decoration: none;
}

button, input {
    border: none;
    outline: none;
}

.view-title {
    color: $secondary;
    text-transform: capitalize;
    margin: 1em;
}

.btn {
    padding: 0.75em 1em;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    font-size: 0.95rem;
    background: $primary;
    color: $white;
    &:active {
        background: $dark-primary;
    }
}
